.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  align-items: flex-end;

  @media (max-width: 600px) {
    height: 10vh;
    margin-bottom: 1.25rem;
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
  }
}
